<section class="content-header">
	<h1>
		Pesquisar Sistemas
	</h1>
	
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Pesquisar Sistemas</li>
	</ol>
</section>

<section class="content">
	<div class="col-md-12">
		<div class="alert alert-info" ng-if="ctrl.tabelaSistemas.total() == 0">
			<i class="icon fa fa-info"></i> Nenhum registro encontrado.
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Filtro de Pesquisa</h3>
				</div>
				
				<form role="form" ng-submit="ctrl.pesquisar()">
					<div class="box-body">
						<div class="row">
							<div class="col-xs-3">
								<div class="form-group">
									<label>Nome</label>
									<div>
										<input type="text" class="form-control" ng-model="ctrl.filtro.nome" maxlength="50">
									</div>
								</div>
							</div>
							
							<div class="col-xs-3">
								<div class="form-group">
									<label>Situação</label>
									<div>
										<switch ng-model="ctrl.filtro.situacao" />
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Pesquisar</button>
						<button type="button" ng-click="ctrl.limpar()" class="btn">Limpar</button>
					</div>
				</form>
				
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<table ng-table="ctrl.tabelaSistemas" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Descricao</th>
										<th>Data Inclusão</th>
										<th style="width: 40px">Ativo?</th>
									</tr>
								</thead>
								
								<tbody>
									<tr ng-repeat="item in $data">
										<th>{{item.nome}}</th>
										<th>{{item.descricao}}</th>
										<th>{{item.dataInclusao | date:'dd/MM/yyyy'}}</th>
										<th>{{item.ativo ? 'Sim' : 'Não'}}</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>