<section class="content-header">
	<h1>
		Pesquisar Sistemas
	</h1>
	
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Pesquisar Sistemas</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Filtro de Pesquisa</h3>
				</div>
				
				<form role="form">
					<div class="box-body">
						<div class="row">
							<div class="col-xs-3">
								<div class="form-group">
									<label>Nome</label>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
					</div>
	
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Pesquisar</button>
					</div>
				</form>
				
				<div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width: 10px">#</th>
										<th>Task</th>
										<th>Progress</th>
										<th style="width: 40px">Label</th>
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<th>1</th>
										<th>AAA</th>
										<th>AAA</th>
										<th>AAA</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>