<div ng-controller="ListUserController">
	<a href="admin#/user/create">Teste Filtro</a>
	<br/>
	<a href="#/user/create">Criar</a>

	<br/><br/>
	
	<ul>
		<li ng-repeat="user in users">{{user.nomeCompleto()}}</li>
	</ul>
	
	<!-- 
	<select autocomplete lista="listaAutocomplete"
			ng-model="itemAutocomplete" ng-options="item.codigo as item.nome for item in listaAutocomplete">
		<option value="">Selecione...</option>
	</select>
	
	<input type="text" teste-compile ng-model="test" />

	{{itemAutocomplete}}<br><br>
	<teste2 ng-model="itemAutocomplete"></teste2>

	<autocomplete ng-model="itemAutocomplete" lista="listaAutocomplete"
			value-attribute="codigo" label-attribute="nome">
	</autocomplete>
	
	<br>
	
	{{itemAutocomplete}}<br><br>
	
	<input type="button" ng-click="limparAutocomplete()" value="Reset" />
	 -->
		 
	<!-- 	<custom-table items="users"> -->
	<!-- 		<custom-column title="Name" value="name"></custom-column> -->
	<!-- 		<custom-column title="Last Name" value="lastName"></custom-column> -->
	<!-- 		<custom-column title="City" value="city.uf.sigla"></custom-column> -->
	<!-- 		<custom-column title="Actions">dfasdfsda</custom-column> -->
	<!-- 	</custom-table> -->
		
	<!-- 	<br/><br/> -->
		
	<!-- 	<select combobox items="users" label="lastName" ng-model="selectedUser"></select> -->
	<!-- 	"{{selectedUser.name}}" -->
</div>